@model List<DemoUpSchoolProject.Models.Entities.TblAbout2>
    @foreach (var item in Model)
    {
<section id="AboutSection" class="w3l-banner pb-5">
    <div class="container pb-md-3">
        <div class="banner-wrapper text-center">
            <div class="">
                <span class="text">Hakkımda</span>
                <h1 class="mb-4 title">
                    Merhaba, <span class="type-js"><span class="text-js">Ben @item.NameSurname</span></span><br>
                    <h3 class="mb-4 title"> @item.Title</h3>
                   
                </h1>
                <p class="mx-lg-5">
                    @item.Description
                </p>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-lg-auto col-md-10">
                    <img src="@item.ImageUrl" style="border-radius: 50px; width: 100%; " alt="" class="img-fluid mt-lg-5 mt-3">
                </div>
            </div>
            <ul class="follow-social">
                <li><p>Hesaplarım</p></li>
                @*<li><a href="#url"><span class="fa fa-behance"></span></a></li>*@
                <li><a href="https://www.linkedin.com/feed/"><span class="fa fa-linkedin"></span></a></li>
                @*<li><a href="#url"><span class="fa fa-facebook-official"></span></a></li>
                <li><a href="#url"><span class="fa fa-twitter"></span></a></li>*@
            </ul>
        </div>
    </div>
</section>
    }
