@model List<DemoUpSchoolProject.Models.Entities.TblServices>

<!-- home page about section -->
<section class="w3l-homeblock1" id="Summary">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6">
                    <span class="text">Özet Bilgi</span>
                    @*<h3 class="title-big"><span>Build your brand</span> and grow your business</h3>*@
                <p class="mt-4">
                    @ViewBag.Description
                </p>
                    
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5">
                    <div class="position-relative">
                        <img style="border-radius: 50px; width: 400px; height: 500px; margin-left:100px; "src="@ViewBag.Image" alt="" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
